<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /frontend/dist/fuse/browser/
    
    # No reescribir archivos que existen físicamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirigir todo a index.html
    RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(html|js|css)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </FilesMatch>
</IfModule>