/* ----------------------------------------------------------------------------------------------------- */
/* @ Importa/escribe tus estilos personalizados aquí.
/* @ Los estilos de este archivo anularán los estilos base de 'vendors.scss' y Fuse.
/* ----------------------------------------------------------------------------------------------------- */
.success-snackbar {
  background-color: #4caf50; /* verde */
  color: #fff;
}

.error-snackbar {
  background-color: #d32f2f; /* rojo */
  color: #fff;
}
