  /* En tu archivo de estilos global o component */
.attachment-viewer-panel {
  width: 90vw !important;
  height: 90vh !important;
  max-width: 90vw !important;
  max-height: 90vh !important;
}

.cdk-overlay-backdrop.bg-black-70 {
  background-color: rgba(0, 0, 0, 0.7) !important;
}